.btn-treehouse {
  color: white;
  padding: 16px 24px;
  border-radius: 40px;
  font-weight: bold;
  background: #6AD58B;
  transition: 0.3s ease;
  opacity: 0.9;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
