.cards {
display: flex;
justify-content: space-between;
margin-bottom:30px ;
width: 1000px;
}

.cards .card {
width: 200px;
border: 1px solid rgb(230, 230,230);
padding: 20px;
border-radius: 20px;
box-shadow: 0px 0px 5px rgb(230, 230,230);
text-align: center;
align-items: center;
}

.cards .card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
}
